body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-control[data-val-required] {
    border-left: 3px solid #a94442;
}

.input-validation-error {
    background-color: #FCF4F3;
    border-color: #a94442;
}

.field-validation-error {
    color: #a94442;
    line-height: 30px;
    font-size: 85%;
}
