@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h2>POC - Sistema de Controle de Doação de Sangue</h2>
    <p class="lead">Este é o projeto MVC da POC do Sistema de Controle de Doação de Sangue apresentado a PUC MG.</p>
</div>
