@model POC.Aplicacao.Models.Agendamento.AgendamentoDoacao

@{
    ViewBag.Title = "Agendamento de Doação";
}

<br />
<div class="alert alert-success">
    <h3>Agendamento concluído com Sucesso</h3>
    Esta é uma Prova de Conceito.<br />
    As informações exibidas são apenas demonstrativas.<br />
    Obrigado pelo agendamento de doação.
</div>
